body {
    background-color: #c6a9a3;
}

.main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

h1, p {
    color: #c92f2f;
    font-size: 30px;
    text-transform: uppercase;
    margin: 40px;
}

del {
    display: inline-block;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    transform: rotate(10deg);
    background-color: #e9c0c1;
}

ins {
    display: inline-block;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    transform: rotate(-15deg);
    background-color: #fce38a;
}

    .btn {
    position: relative;
    padding: 20px 60px;
    background-color: bisque;
    overflow: hidden;
    transition: 0.3s all;
}

.btn:hover {
    background: rgb(238, 168, 38);
    box-shadow: 0 0 12px rgb(238, 168, 38);
}

.btn::before {
    position: absolute;
    transition: 1s;
    animation: animate 2s linear infinite;
}

.btn::after {
    position: absolute;
    inset: 4px;
    background: orangered;
    transition: 0.4s;
}

.btn:hover::after {
    background-color: rgb(238, 168, 38); ;
}

a {
    position:relative;
    z-index: 1;
    font-size: 2em;
    color: orangered;
    text-decoration: none;
}



#myVideo {
    width: 100%;
}
    
@media all and (max-width: 500px) {
    p {
        font-size: 20px;
    }
}
