body {
    background-color: #c6a9a3;
}

.main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

h1, p {
    color: #c92f2f;
    font-size: 30px;
    text-transform: uppercase;
    margin: 40px;
}

del {
    display: inline-block;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    transform: rotate(10deg);
    background-color: #e9c0c1;
}

ins {
    display: inline-block;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    transform: rotate(-15deg);
    background-color: #fce38a;
}

a {
    position: relative;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #182037;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s all;
}

a:hover {
    background: #00ccff;
    box-shadow: 0 0 12px #00ccff;
}

a::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 400%;
    background-color: #00ccff;
    transition: 2s;
    animation: animate 2s linear infinite;
}

a:hover::before {
    width: 120%;
}

a::after {
    content: " ";
    position: absolute;
    inset: 4px;
    background: #182037;
    transition: 0.5s;
}

a:hover::after {
    background-color: #00ccff ;
}

a span {
    position:relative;
    z-index: 1;
    font-size: 2em;
    color: #fff;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#myVideo {
    width: 100%;
}
    
@media all and (max-width: 500px) {
    p {
        font-size: 20px;
    }
}
